In [ ]:
import pandas as pd

In [ ]:
s=pd.read_csv("stock.csv",squeeze=True)

In [ ]:
def fun(num):
    if num<200:
        return "Low"
    elif num>=200 and num<400:
        return "Normal"
    else:
        return "High"

In [ ]:
new=s.apply(fun)

In [ ]:
print(new.head(3))
print(new[1400],new[1500],new[1600])
print(new.tail(3))

0    Low
1    Low
2    Low
Name: Stock Price, dtype: object
Normal Normal Normal
3009    High
3010    High
3011    High
Name: Stock Price, dtype: object

In [ ]:
new=s.apply(lambda num : num + 5)

In [ ]:
print(s.head(),'\n',new.head())
print('\n\n',s.tail(),'\n',new.tail())

0    50.12
1    54.10
2    54.65
3    52.38
4    52.95
Name: Stock Price, dtype: float64
 0    55.12
1    59.10
2    59.65
3    57.38
4    57.95
Name: Stock Price, dtype: float64


 3007    772.88
3008    771.07
3009    773.18
3010    771.61
3011    782.22
Name: Stock Price, dtype: float64
 3007    777.88
3008    776.07
3009    778.18
3010    776.61
3011    787.22
Name: Stock Price, dtype: float64